*,
*::after, 
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

body {
  font-family: "Nunito", sans-serif;
  color: #333;
  font-weight: 300;
  line-height: 1.6; 
}

.container {
  width: 60%;
  margin: 2rem auto; 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(44, 5vw);
  /* grid-gap: 1.5rem;  */
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 8;
  z-index: 1;
}

#hero-header-1 {
  position: absolute;
  margin-top: 12%;
  margin-left: 38%;
  color: white;
  font-size: 3vw;
}

#hero-header-2 {
  position: absolute;
  margin-top: 16%;
  margin-left: 39.5%;
  color: white;
  font-size: 2.7vw;
}

#hero-button {
  position: absolute;
  margin-top: 21%;
  margin-left: 41%;
  font-size: 1.6vw;
  padding: 1vw;
  background-color: rgb(181, 92, 255);
  color: white;
  border:0;
}

.gallery__item--1--point--1 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  z-index: 2;
}

/* similar templates */
.gallery__item--1--point--5 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 8;
  grid-row-end: 15;  
  /* background-color: gray; */
  margin-left: 30%;
  margin-top: 20%;
  margin-right: 5%;
}

.gallery__item--2 {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 8;
    grid-row-end: 15;
}

.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 15;
  grid-row-end: 22;
}

#first-banner-header {
  position: absolute;
  margin-top: 12.8%;
  margin-left: 12.5%;
}

#first-banner-button {
  position: absolute;
  margin-top: 18%;
  margin-left: 12.5%;

}

.banner-button {
  background-color: rgb(255, 123, 0);
  color: white;
  font-size: 1.6vw;
  padding: 1vw;
}


/* similar templates */
.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 22;
  grid-row-end: 29;
  margin-left: 20%;
  margin-top: 10%;
  margin-right: 5%;
}

.gallery__item--5 {
  grid-column-start: 6;
  grid-column-end: 11;
  grid-row-start: 22;
  grid-row-end: 29;
  background-color: #eeeeee;
}

#first-item {
  /* grid-column-start: 9;
  grid-column-end: 10; */
  /* grid-row-start: 23;
  grid-column-end: 24; */
  /* margin-top: 15%; */
  /* align-content: center; */
  /* margin-left: 45%; */
  width: 17%;
  height: auto;
  margin-left: 20%;
  margin-top: 15%;
  /* align-items: center; */
}

#first-description {
  margin-left: 13%;
}

#second-item {
  width: 17%;
  height: auto;
  margin-left: 20%;
  margin-top: 15%;
  /* margin-bottom: 80%; */
}

#third-item {
  width: 17%;
  height: auto;
  margin-left: 20%;
  margin-top: 10%;
  /* margin-bottom: 80%; */
}

#fourth-item {
  width: 17%;
  height: auto;
  margin-left: 20%;
  margin-top: 10%;
  /* margin-bottom: 80%; */
}

.icon { transition: all .2s ease-in-out; }

.icon:hover { 
  transform: scale(1.3); 
}

.gallery__item--6 {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 29;
  grid-row-end: 37;
}

#second-banner-header {
  position: absolute;
  margin-top: 10%;
  margin-left: 58%;
}

#banner-text {
  position: absolute;
  margin-top: 15.5%;
  margin-left: 58%;
  margin-right: 15%;
}

#second-banner-button {
  position: absolute;
  margin-top: 24%;
  margin-left: 58%;
}

.gallery__item--7 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 37;
  grid-row-end: 43;
  /* background-color: red; */
  margin-left: 20%;
  margin-top: 10%;
  margin-right: 5%;
}

.gallery__item--8 {
  grid-column-start: 6;
  grid-column-end: 11;
  grid-row-start: 37;
  grid-row-end: 43;
  /* background-color: blue; */
}

.gallery__item--9 {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 43;
  grid-row-end: 45;
  background-color: #eeeeee;
  overflow:hidden;
}

.footer {
  text-align: center;
  font-size: 1.2vw;
  margin-bottom: 0.8%;
}

#instagram {
  width: 4%;
  height: auto;
  margin-left: 45%;
}

#facebook {
  width: 4%;
  height: auto;
  margin-left: 1.7%;
}

h2 {
  font-size: 2.9vw;
  color: rgb(78, 0, 78);
}

p {
  /* font-size: 1.6em; */
  font-size: 1.2vw;
}

/* #first-paragraph {
  font-size: 1.2vw;
} */

.checked {
  color: orange;
  width: 20px;
  font-size: 3em;
}

/* @media only screen and (max-width: 330px) {

  #first-paragraph { 
    font-size: 0.5vw;
    color: blue;
  }

} */

/* @media (max-width: @screen-xs) {
  body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
  body{font-size: 14px;}
} */

@media all and (max-device-width: 720px){
  h1 {
      font-size: 18px;
  }
}

@media all and (max-device-width: 640px){
  h1 {
      font-size: 16px;
  }
}

@media all and (max-device-width: 320px){
  h1 {
      font-size: 12px;
  }
}